@import "tailwindcss";

:root {
  --background: #F1F0E4;
  --foreground: #171717;
}

/* @theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
} */

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(10px); }
  to { opacity: 1; transform: translateY(0); }
}
.animate-fadeIn {
  animation: fadeIn 0.3s ease-in-out;
}

.prose pre {
  background-color: #1e1e1e;
  color: #dcdcdc;
  border-radius: 0.5rem;
  padding: 0.75rem 1rem;
  overflow-x: auto;
}

.prose code {
  background-color: #2d2d2d;
  color: #f0c674;
  padding: 0.2rem 0.4rem;
  border-radius: 0.3rem;
}

.prose ul {
  list-style-type: disc;
  margin-left: 1.5rem;
}

.prose strong {
  color: #60a5fa;
}


.backgroundcolor {
  background-color: #212624;
}
.usercolor {
  background-color: #525345;
}
.headercolor {
  background-color: #151616;
}
.strongcolor {
  color: #00574e;
}